*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-size: $normal-font-size;
    background-color: $white;
    color: $black-light;
    height: 3000px;
}

ul{
    list-style: none;
}

input{
    &:focus,
    &:hover{
        box-shadow: none !important;
        outline: none !important;
    }
}

a{
    text-decoration: none;
}

*::-webkit-scrollbar{
    width: .3rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: $gray-dark-6;
}

::selection{
    background-color: $black-light;
}

i[class^="fi-rr-"]:before, i[class*=" fi-rr-"]:before, span[class^="fi-rr-"]:before, span[class*="fi-rr-"]:before{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.offcanvas{
    width: 50% !important;
    transition: .4s all ease-in-out;
    padding: 40px;
    border-color: $gray-light-6 !important;
}

.btn-close{
    background-image: none;
    font-size: 25px;

    &:focus,
    &:hover{
        box-shadow: none;
        border: none;
        outline: none;
    }
}

@media screen and (max-width: 1152px){
    .offcanvas{
        width: 90% !important;
        transition: .4s all ease-in-out;
        padding: 5px;
    }
}